<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dfood_nusantara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DFood_Nusantara">
        <activity
            android:name=".promo"
            android:exported="false" />
        <activity
            android:name=".tentang"
            android:exported="false" />
        <activity
            android:name=".bantuan"
            android:exported="false" />
        <activity
            android:name=".pengaturan"
            android:exported="false" />
        <activity
            android:name=".informasi_pribadi"
            android:exported="false" />
        <activity
            android:name=".detail_riwayat"
            android:exported="false" />
        <activity
            android:name=".detail_makanan"
            android:exported="false" />
        <activity
            android:name=".riwayat"
            android:exported="false" />
        <activity
            android:name=".profil"
            android:exported="false" />
        <activity
            android:name=".faktur"
            android:exported="false" />
        <activity
            android:name=".konfirmasi"
            android:exported="false" />
        <activity
            android:name=".pembayaran"
            android:exported="false" />
        <activity
            android:name=".pesanan"
            android:exported="false" />
        <activity
            android:name=".keranjang"
            android:exported="false" />
        <activity
            android:name=".cari"
            android:exported="false" />
        <activity
            android:name=".lp2"
            android:exported="false" />
        <activity
            android:name=".lupapassword"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".minuman"
            android:exported="false" />
        <activity
            android:name=".makanan"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".dasboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>